div.items {
    overflow: auto;
}
div.item {
    width: 300px;
    border: 3px dotted black;
    margin: auto 3px;
    float: left;
    transform: rotate(30deg);
}
div.item div:last-child {
    color: white;
    background-color: black;
    text-align: center;
    clear: left;
}
div.image {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    margin: 2px;
    display: block;
    float: left;
}